# This project
boto3-layer.zip
custom.mk

# Build/Deployment 
/build
deployment/build-dist/
deployment/global-s3-assets/
deployment/regional-s3-assets/
deployment/build-dist/
deployment/open-source/
source/package
source/fgw-fileshare.zip
source/fsx-dns-name.zip
source/AWSQuickStart.zip
source/custom-resource/custom-resource.zip

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
._*

.envrc
.vscode
cfn-check.sh
cfn-create.sh
aws-edit-in-the-cloud-master-with-FSX.json
cfn_nag_suppressions.log
*.pyc
coverage.xml
.coverage

### Node JS ###
node_modules/

### Coverage files ###
coverage/
